* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
  padding: 0;
  background-color: #9c7d98;
}

.contact-form-container {
  background-color: rgb(201, 161, 209);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 50px;
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  font-weight: 500;
}

label {
  margin-bottom: 5px;
  display: flex;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: 1px dotted #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button.submit-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(141, 14, 14);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.submit-btn:hover {
  background-color: #03ff3a;
  color: black;
  font-weight: 800;
}
